// -----------------------------------
// custom mixins & utilities
// -----------------------------------
.square(@size) {
	width: @size;
	height: @size;
}

// -----------------------------------
// general styling
// -----------------------------------
address:last-child, p:last-child {
	margin-bottom: 0;
}
address {
	span {
		display: block;
	}
}

.nopadding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.nomargin {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

iframe {
	max-width: 100%;
}

html {
	height: 100%;
	body {
		display: flex;
		flex-direction: column;
		min-height: 100%;
		font-family: 'Open Sans', sans-serif;
		// http://stackoverflow.com/questions/12502234/how-to-prevent-webkit-text-rendering-change-during-css-transition
		-webkit-font-smoothing: subpixel-antialiased;
		font-size: 15px;
		> main {
			flex: 1 1 auto;
		}
	}
	&.flexboxtweener {
		body {
			min-height: 100vh;
			height: 100%; /* for IE to behave */
		}
	}
	&.no-flexboxtweener {
		
	}
}


a {
	&:hover, &.active {
		
	}
	&:focus {
		
	}
	&[href^='tel:'], &[href^='tel:']:hover {
		text-decoration: none;
	}
}

.btn {
	&:hover {
		
		.transition(all .4s ease);
	}
	&.btn-default {
		&:hover {
			
		}
	}
}


// -----------------------------------
// Titres
// -----------------------------------
h1, .h1 {
	
}

h2, .h2 {
	
}

h3, .h3 {
	
}

h4, .h4 {

}


p {
	margin-bottom: 30px;
}

body {
	// background: blue;
}

// -----------------------------------
// Animations
// -----------------------------------
@keyframes float {
	0%{transform: translate(0,0)}
	65%{transform: translate(0,15px)}
	100%{transform: translate(0,-0)}
}