// -----------------------------------
// Titres
// -----------------------------------
/*doc
---
title: Titles
name: titles
category: typography
---
```html_example_table
<h1>h1 title</h1>

<div class="text-center"><h1 class="underline">h1 title</h1></div>

<h2>h2 title</h2>

<h2 class="sans-serif">h2 title</h2>

<h3>h3 title</h3>

<h4>h4 title</h4>

<h5>h5 title</h5>
```
*/
h1, h2, h3, h4, h5, h6 {
	
}

h1, .h1 {
	
}

h2, .h2 {
	
}

h3, .h3 {
	
}

h4, .h4 {
	
}

h5, .h5 {
	
}