// -----------------------------------
// Grid settings
// -----------------------------------
@main-sm-columns: @grid-columns;
@sidebar-sm-columns: 4;
// @grid-gutter-width: 80px;

// Change gutter but keep default container sizes
@container-tablet: (738px + 30px);
@container-desktop: (940px + 30px);
@container-large-desktop: (1140px + 30px);

// -----------------------------------
// Brand colors
// -----------------------------------
@brand-primary:         #27ae60;
@darkblue: #2D3778;
@purple: #5A287D;
@magenta: #AF3787; // as the spelling of "fuschia" is uncertain, I decided to call it "magenta", thanks for understanding :)
@violet: #8C82BE;
@lightblue: #5AA5D7;
@bluesky: #9BC8EB;

@grey-ll: #f0f1f4;
@grey-l: #5A5A5A;
@grey-m: #8C8C8C;
@grey-d: #D4D4D4;

@black: #505458;


// -----------------------------------
// Glyphicons path
// -----------------------------------
@icon-font-path:        "../vendor/bootstrap/fonts/";