// -----------------------------------
// Vendor
// -----------------------------------
// Bootstrap
@import "_bootstrap";

// FontAwesome
@import "_fontawesome";
@import "_fontawesome-icons";

// -----------------------------------
// Base
// -----------------------------------
@import "_variables";
@import "_fonts.less";
@import "_global";

// -----------------------------------
// Styling
// -----------------------------------
@import "_typography";
@import "components/*";
@import "layouts/**/*";

// -----------------------------------
// Responsive
// -----------------------------------
@import "_responsive-utils.less";

// -----------------------------------
// Language-specific
// -----------------------------------
@import "languages/**/*";

// -----------------------------------
// ie
// -----------------------------------
@import (less) "ie/ie10";
@import (less) "ie/ie11";

// -----------------------------------
// okay
// -----------------------------------
@atoll: #2e8485;

.filson-bold {
	font-family: "filson-soft",sans-serif;
	font-style: normal;
	font-weight: 700;
}
.proxima {
	font-family: "proxima-nova",sans-serif;
}
// .proxima-regular {
// 	.proxima;
// 	font-style: normal;
// 	font-weight: 400;
// }
.proxima-semibold {
	.proxima;
	font-style: normal;
	font-weight: 600;
}
.proxima-bold {
	.proxima;
	font-style: normal;
	font-weight: 700;
}

body {
	.proxima-semibold;
	font-size: 16px;
}

main {
	background: url(../img/min/mypromo-hero.jpg) top center no-repeat #232830;
	background-size: cover;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	padding: 35px 20px 42px 20px;
	h1 {
		display: inline-block;
		.filson-bold;
		font-size: 31px;
		margin-top: 19px-7;
		margin-bottom: 37px-15;
	}
	a {
		&:hover, &:active, &:focus {
			text-decoration: none;
		}
	}
	a:not(.logo) {
		text-transform: uppercase;
		padding-bottom: 3px;
		color: @atoll;
		border-bottom: 2px solid @atoll;
		transition: all .2s ease;
		&:hover, &:active, &:focus {
			color: #fff;
			border-color: #fff;
			text-decoration: none;
			transition: all .2s ease;
		}
	}
	img {
		margin: 0 auto;
		max-width: 80vw !important;
		transform: translateX(27px);
	}
}

section {
	text-align: center;
	color: #fff;
}

h2 {
	.proxima-bold;
	font-size: 14px;
	color: #9f9f9f;
	text-transform: uppercase;
	margin-bottom: 23px;
	letter-spacing: 2px;
}

a {
	color: #000;
	transition: color .2s ease;
	&:hover, &:active, &:focus {
		color: @atoll;
		text-decoration: none;
		// border-bottom: 2px solid @atoll;
		transition: color .2s ease;
	}
}

p {
	margin-bottom: 0;
}

.embed-responsive {
	margin-bottom: -52px;
}

footer {
	padding-top: 115px-20;
	padding-bottom: 60px;
	span {
		color: #9f9f9f;
	}
}

form {
	display: inline;
	input[type="submit"] {
		.btn-unstyled;
		background: @atoll;
		color: #fff;
		padding: 3px 12px;
	}
}