/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../vendor/font-awesome/fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('../vendor/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../vendor/font-awesome/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../vendor/font-awesome/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../vendor/font-awesome/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../vendor/font-awesome/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
