@navbar-padding-horizontal: 11px;
.nav > li > a {
	padding-left: @navbar-padding-horizontal;
	padding-right: @navbar-padding-horizontal;
}

@navbar-margin-bottom: 0;
@navbar-height: 73px;

header {
	position: relative;
}
#header-nav-mobile {
	
}