.post {
	border-bottom: 1px solid grey;
	padding: 40px 0;
	display: flex;
	flex-direction: row;
	.article-image {
		flex: .4;
	}
	.article-content {
		flex: .6;
		display: flex;
		flex-direction: column;
		padding-left: 30px;
		main {
			flex: 1 0 auto;
			margin-bottom: 20px;
		}
	}
}