/*doc
---
title: Buttons
name: btn
category: typography
---

text

```html_example
<a class="btn">link yay</a>
```

*/
.btn {
	// border: 2px solid lightblue;
	padding: 12px 17px;
	border-radius: 5px;
	outline: 0;
	box-shadow: none;
	white-space: normal;
}

.btn-unstyled {
	border: none;
	background: transparent;
	box-shadow: none;
	text-shadow: none;
	outline: none;
	padding: 0;
	margin: 0;
	outline: 0;
	&:active {
		box-shadow: none;
	}
}