// -----------------------------------
// components
// -----------------------------------

// -----------------------------------
// alert-browser
// -----------------------------------
.alert-browser {
  position: fixed;
  z-index: 2000;
  top: 0;right: 0;bottom: 0;left: 0;
  background: fadeout(#000, 20%);
  .alert {
    position: absolute;
    width: 50vw;
    top: 45%;
    left: 50%;
    margin-left: -25vw;
  }
}