// Change to watch in slow motion
@duration: .5s;

@navicon-width: 21px;
@navicon-bar-height: 2px;
@navicon-bar-offset: 6px;
@toggled-size : .95;

@bg : #449A88;
@nav-bg  : #2A2A2A;
@content-bg : #bada55;

#navicon {
  margin: 0 10px;
  margin-right: 20px;
  .open:not(.steps) .navicon:before,
  .open:not(.steps) .navicon:after {
    top: 0 !important;
  }

  .open .navicon:before,
  .open .navicon:after {
    transition: @duration;
  }

  /* Minus */
  .open { transform: scale(@toggled-size); }

  /* Arrows */
  .open.larr .navicon,
  .open.rarr .navicon,
  .open.uarr .navicon {
      &:before, &:after {
        width: 1.5rem;
      }

      &:before { transform: rotate(35deg); transform-origin: left top; }
      &:after { transform: rotate(-35deg); transform-origin: left bottom; }
  }
  .open.uarr { transform: scale(@toggled-size) rotate(90deg); }

  /* Arrows */
  .open.rarr .navicon {
      &:before { transform: translate3d(1em,0,0) rotate(-35deg); transform-origin: right top; }
      &:after { transform: translate3d(1em,0,0) rotate(35deg); transform-origin: right bottom; }
  }

  /* × and + */
  .open.plus,
  .open.x {
    .navicon {
      background: transparent;

      &:before { transform: rotate(-45deg); }
      &:after { transform: rotate(45deg); }
    }
  }
  .open.plus { 
    transform: scale(@toggled-size) rotate(45deg) 
  }
}

.navicon-button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  // padding: 2.0625rem 1.5rem;
  transition: @duration/2;
  cursor: pointer;
  user-select: none;

  .navicon:before, .navicon:after {
    transition: @duration/2;
  }

  &:hover {
    transition: @duration;
    opacity: 1;

    .navicon:before, .navicon:after {
      transition: @duration/2;
    }

    .navicon:before { top: .825rem; }
    .navicon:after { top: -.825rem; }
  }
}

.navicon {
  position: relative;
  display: inline-block;
  width: @navicon-width;
  height: @navicon-bar-height;
  background: @content-bg;
  transition: @duration;

  &:before, &:after {
    display: block;
    content: "";
    height: @navicon-bar-height;
    width: 100%;
    background: @content-bg;
    position: absolute;
    z-index: -1;
    transition: @duration @duration/2;
  }

  &:before { top: @navicon-bar-offset; }
  &:after { top: -@navicon-bar-offset; }
}