.header-main-w {
	position: relative;
	z-index: 6;
	@media (max-width: @screen-xs-max) {
		width: 100%;
	}
}

#header-main {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	padding: 0;
	@media (min-width: @screen-md-min) {
		flex-direction: row;
	}
	.header-base {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background: grey;
	}
	.header-nav {
		position: relative;
		z-index: 1;
		@media (max-width: @screen-sm-max) {
			position: absolute;
			z-index: 1;
		    top: 100%;
		    left: 0;
		    width: 100%;
		    transition: all .2s ease;
		    transform: translateY(-200%);
			&.open {
				transform: translateY(0);
				transition: all .2s ease;
			}
		}
	}
	.header-logo {
		
	}
	nav {
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		background: darkgrey;
		@media (min-width: @screen-md-min) {
			flex-direction: row;
		}
		.nav-primary {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			list-style-type: none;
			margin: 0;
			padding: 0;
			width: 100%;
			li {
				width: 100%;
				text-align: center;
				a {
					display: block;
					padding: 15px 0;
					&:hover, &:active, &:focus {
						text-decoration: none;
					}
				}
				&.active {
					a {
						color: blue;
					}
				}
			}
			@media (min-width: @screen-md-min) {
				width: auto;
				flex-direction: row;
				li {
					width: auto;
					margin-right: 45px/2;
					border: none;
					a {
						padding: 0;
					}
				}
			}
		}
	}
}